In [107]:
import pandas as pd

In [108]:
lab_results = pd.read_csv('data/Beach_Lab_Data_20170606.csv')
lab_results.head()

,DNA Test ID,DNA Sample Timestamp,Beach,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Reading Mean,Culture Test ID,Culture Sample 1 Timestamp,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Note,Culture Sample Interval,Culture Sample 2 Timestamp,Latitude,Longitude,Location
0,NaN,NaN,NaN,NaN,NaN,NaN,107973.0,08/15/2013 12:00:00 AM,231.0,248.0,239.3,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Margaret T Burroughs,NaN,NaN,NaN,105636.0,07/03/2013 12:00:00 AM,88.0,60.0,72.7,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Hartigan,NaN,NaN,NaN,88188.0,06/02/2010 12:00:00 AM,75.9,62.7,69.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Margaret T Burroughs,NaN,NaN,NaN,103922.0,05/29/2007 12:00:00 AM,35.5,60.2,46.2,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Margaret T Burroughs,NaN,NaN,NaN,105658.0,08/23/2012 12:00:00 AM,4.1,13.2,7.4,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
print("There are %s results, and %s without a location" %
      (len(lab_results), len(lab_results.loc[lab_results['Location'].isnull()])))

There are 18473 results, and 3045 without a location

In [110]:
# Get rid of lab results without locations
lab_results = lab_results.loc[~lab_results['Location'].isnull()]

In [111]:
# Check beach names and make sure everything looks Kosher.
print("There are %s beaches, and they are named %s" %
      (len(lab_results['Beach'].unique()),
      ', '.join(lab_results['Beach'].unique())))

There are 26 beaches, and they are named 12th Street, Rainbow, North Avenue, 63rd Street, Calumet, Osterman, 57th Street, Margaret T Burroughs (31st), Ohio Street, South Shore, Leone, Humboldt, Montrose, Foster, Marion Mahony Griffin (Jarvis), Rogers, Oak Street, Howard, Oakwood, Hartigan (Albion), Juneway, North Shore, Fargo, Loyola, Lane, Montrose Dog

In [112]:
# Are there any rows without measurements
lab_results.loc[
                                  lab_results['Culture Sample 1 Reading'].isnull() &
                                  lab_results['Culture Sample 2 Reading'].isnull() &
                                  lab_results['Culture Reading Mean'].isnull() &
                                  lab_results['DNA Sample 1 Reading'].isnull() &
                                  lab_results['DNA Reading Mean'].isnull() &
                                  lab_results['DNA Sample 2 Reading'].isnull()
                                 ]

Empty DataFrame
Columns: [DNA Test ID, DNA Sample Timestamp, Beach, DNA Sample 1 Reading, DNA Sample 2 Reading, DNA Reading Mean, Culture Test ID, Culture Sample 1 Timestamp, Culture Sample 1 Reading, Culture Sample 2 Reading, Culture Reading Mean, Culture Note, Culture Sample Interval, Culture Sample 2 Timestamp, Latitude, Longitude, Location]
Index: []

In [113]:
# The city has some datetimes with goofy timestamps.
_ = []
for i, lab_result in enumerate(lab_results.to_dict('records')):
    if not str(lab_result['Culture Sample 1 Timestamp']).lower() == 'nan':
        if (lab_result['Culture Sample 1 Timestamp'].split(' ')[0].split('/')[-1]).startswith('00'):
            print(lab_result)
            lab_result['Culture Sample 1 Timestamp'] = str(lab_result['Culture Sample 1 Timestamp']).replace('0016', '2016')
    _.append(lab_result)
lab_results = pd.DataFrame(_)
lab_results.head()

{'DNA Test ID': nan, 'DNA Sample Timestamp': nan, 'Beach': 'Humboldt', 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Reading Mean': nan, 'Culture Test ID': 114142.0, 'Culture Sample 1 Timestamp': '09/24/0016 10:00:00 AM', 'Culture Sample 1 Reading': 1.0, 'Culture Sample 2 Reading': 1.0, 'Culture Reading Mean': 1.0, 'Culture Note': nan, 'Culture Sample Interval': 1.0, 'Culture Sample 2 Timestamp': '09/24/0016 10:01:00 AM', 'Latitude': 41.90643, 'Longitude': -87.703717, 'Location': '(41.90643, -87.703717)'}
{'DNA Test ID': nan, 'DNA Sample Timestamp': nan, 'Beach': 'Humboldt', 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Reading Mean': nan, 'Culture Test ID': 114144.0, 'Culture Sample 1 Timestamp': '09/28/0016 10:00:00 AM', 'Culture Sample 1 Reading': 1.0, 'Culture Sample 2 Reading': 1.0, 'Culture Reading Mean': 1.0, 'Culture Note': nan, 'Culture Sample Interval': 1.0, 'Culture Sample 2 Timestamp': '09/28/0016 10:01:00 AM', 'Latitude': 41.90643, 'Longitude': -87.703717, 'Location': '(41.90643, -87.703717)'}
{'DNA Test ID': nan, 'DNA Sample Timestamp': nan, 'Beach': 'Humboldt', 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Reading Mean': nan, 'Culture Test ID': 114139.0, 'Culture Sample 1 Timestamp': '09/21/0016 10:00:00 AM', 'Culture Sample 1 Reading': 1.0, 'Culture Sample 2 Reading': 19.7, 'Culture Reading Mean': 4.4, 'Culture Note': nan, 'Culture Sample Interval': 1.0, 'Culture Sample 2 Timestamp': '09/21/0016 10:01:00 AM', 'Latitude': 41.90643, 'Longitude': -87.703717, 'Location': '(41.90643, -87.703717)'}
{'DNA Test ID': nan, 'DNA Sample Timestamp': nan, 'Beach': 'Humboldt', 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Reading Mean': nan, 'Culture Test ID': 114146.0, 'Culture Sample 1 Timestamp': '09/30/0016 10:05:00 AM', 'Culture Sample 1 Reading': 228.2, 'Culture Sample 2 Reading': 57.6, 'Culture Reading Mean': 114.6, 'Culture Note': nan, 'Culture Sample Interval': 1.0, 'Culture Sample 2 Timestamp': '09/30/0016 10:06:00 AM', 'Latitude': 41.90643, 'Longitude': -87.703717, 'Location': '(41.90643, -87.703717)'}
{'DNA Test ID': nan, 'DNA Sample Timestamp': nan, 'Beach': 'Humboldt', 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Reading Mean': nan, 'Culture Test ID': 114136.0, 'Culture Sample 1 Timestamp': '09/16/0016 08:30:00 AM', 'Culture Sample 1 Reading': 1.0, 'Culture Sample 2 Reading': 1.0, 'Culture Reading Mean': 1.0, 'Culture Note': nan, 'Culture Sample Interval': 2.0, 'Culture Sample 2 Timestamp': '09/16/0016 08:32:00 AM', 'Latitude': 41.90643, 'Longitude': -87.703717, 'Location': '(41.90643, -87.703717)'}
{'DNA Test ID': nan, 'DNA Sample Timestamp': nan, 'Beach': 'Humboldt', 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Reading Mean': nan, 'Culture Test ID': 114138.0, 'Culture Sample 1 Timestamp': '09/18/0016 09:55:00 AM', 'Culture Sample 1 Reading': 1.0, 'Culture Sample 2 Reading': 1.0, 'Culture Reading Mean': 1.0, 'Culture Note': nan, 'Culture Sample Interval': 1.0, 'Culture Sample 2 Timestamp': '09/18/0016 09:56:00 AM', 'Latitude': 41.90643, 'Longitude': -87.703717, 'Location': '(41.90643, -87.703717)'}
{'DNA Test ID': nan, 'DNA Sample Timestamp': nan, 'Beach': 'Humboldt', 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Reading Mean': nan, 'Culture Test ID': 114145.0, 'Culture Sample 1 Timestamp': '09/29/0016 10:00:00 AM', 'Culture Sample 1 Reading': 155.3, 'Culture Sample 2 Reading': 131.4, 'Culture Reading Mean': 142.9, 'Culture Note': nan, 'Culture Sample Interval': 1.0, 'Culture Sample 2 Timestamp': '09/29/0016 10:01:00 AM', 'Latitude': 41.90643, 'Longitude': -87.703717, 'Location': '(41.90643, -87.703717)'}
{'DNA Test ID': nan, 'DNA Sample Timestamp': nan, 'Beach': 'Humboldt', 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Reading Mean': nan, 'Culture Test ID': 114143.0, 'Culture Sample 1 Timestamp': '09/25/0016 10:00:00 AM', 'Culture Sample 1 Reading': 2.0, 'Culture Sample 2 Reading': 1.0, 'Culture Reading Mean': 1.4, 'Culture Note': nan, 'Culture Sample Interval': 1.0, 'Culture Sample 2 Timestamp': '09/25/0016 10:01:00 AM', 'Latitude': 41.90643, 'Longitude': -87.703717, 'Location': '(41.90643, -87.703717)'}
{'DNA Test ID': nan, 'DNA Sample Timestamp': nan, 'Beach': 'Humboldt', 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Reading Mean': nan, 'Culture Test ID': 114137.0, 'Culture Sample 1 Timestamp': '09/17/0016 09:55:00 AM', 'Culture Sample 1 Reading': 7.4, 'Culture Sample 2 Reading': 1.0, 'Culture Reading Mean': 2.7, 'Culture Note': nan, 'Culture Sample Interval': 1.0, 'Culture Sample 2 Timestamp': '09/17/0016 09:56:00 AM', 'Latitude': 41.90643, 'Longitude': -87.703717, 'Location': '(41.90643, -87.703717)'}
{'DNA Test ID': nan, 'DNA Sample Timestamp': nan, 'Beach': 'Humboldt', 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Reading Mean': nan, 'Culture Test ID': 114135.0, 'Culture Sample 1 Timestamp': '09/15/0016 08:20:00 AM', 'Culture Sample 1 Reading': 1.0, 'Culture Sample 2 Reading': 1.0, 'Culture Reading Mean': 1.0, 'Culture Note': nan, 'Culture Sample Interval': 2.0, 'Culture Sample 2 Timestamp': '09/15/0016 08:22:00 AM', 'Latitude': 41.90643, 'Longitude': -87.703717, 'Location': '(41.90643, -87.703717)'}
{'DNA Test ID': nan, 'DNA Sample Timestamp': nan, 'Beach': 'Humboldt', 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Reading Mean': nan, 'Culture Test ID': 114147.0, 'Culture Sample 1 Timestamp': '10/01/0016 10:00:00 AM', 'Culture Sample 1 Reading': 1.0, 'Culture Sample 2 Reading': 1.0, 'Culture Reading Mean': 1.0, 'Culture Note': nan, 'Culture Sample Interval': 1.0, 'Culture Sample 2 Timestamp': '10/01/0016 10:01:00 AM', 'Latitude': 41.90643, 'Longitude': -87.703717, 'Location': '(41.90643, -87.703717)'}
{'DNA Test ID': nan, 'DNA Sample Timestamp': nan, 'Beach': 'Humboldt', 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Reading Mean': nan, 'Culture Test ID': 114140.0, 'Culture Sample 1 Timestamp': '09/22/0016 10:00:00 AM', 'Culture Sample 1 Reading': 1.0, 'Culture Sample 2 Reading': 1.0, 'Culture Reading Mean': 1.0, 'Culture Note': nan, 'Culture Sample Interval': 1.0, 'Culture Sample 2 Timestamp': '09/22/0016 10:01:00 AM', 'Latitude': 41.90643, 'Longitude': -87.703717, 'Location': '(41.90643, -87.703717)'}

,Beach,Culture Note,Culture Reading Mean,Culture Sample 1 Reading,Culture Sample 1 Timestamp,Culture Sample 2 Reading,Culture Sample 2 Timestamp,Culture Sample Interval,Culture Test ID,DNA Reading Mean,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Sample Timestamp,DNA Test ID,Latitude,Location,Longitude
0,12th Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,186.3,236.0,147.0,08/20/2016 12:40:00 PM,2009.0,41.8638,"(41.8638, -87.6083)",-87.6083
1,Rainbow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.7,86.0,5.0,06/26/2016 12:38:00 PM,983.0,41.7580,"(41.758, -87.551)",-87.5510
2,North Avenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.7,63.0,114.0,06/05/2016 12:45:00 PM,610.0,41.9148,"(41.9148, -87.6273)",-87.6273
3,63rd Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.3,21.0,41.0,08/20/2016 12:39:00 PM,1989.0,41.7827,"(41.7827, -87.5748)",-87.5748
4,North Avenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127.4,145.0,112.0,06/11/2016 01:18:00 PM,703.0,41.9148,"(41.9148, -87.6273)",-87.6273

In [114]:
# Same for culture 2
_ = []
for i, lab_result in enumerate(lab_results.to_dict('records')):
    if not str(lab_result['Culture Sample 2 Timestamp']).lower() == 'nan':
        if (lab_result['Culture Sample 2 Timestamp'].split(' ')[0].split('/')[-1]).startswith('00'):
            print(lab_result)
            lab_result['Culture Sample 2 Timestamp'] = str(lab_result['Culture Sample 2 Timestamp']).replace('0016', '2016')
    _.append(lab_result)
lab_results = pd.DataFrame(_)
lab_results.head()

{'Beach': 'Humboldt', 'Culture Note': nan, 'Culture Reading Mean': 1.0, 'Culture Sample 1 Reading': 1.0, 'Culture Sample 1 Timestamp': '09/24/2016 10:00:00 AM', 'Culture Sample 2 Reading': 1.0, 'Culture Sample 2 Timestamp': '09/24/0016 10:01:00 AM', 'Culture Sample Interval': 1.0, 'Culture Test ID': 114142.0, 'DNA Reading Mean': nan, 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Sample Timestamp': nan, 'DNA Test ID': nan, 'Latitude': 41.90643, 'Location': '(41.90643, -87.703717)', 'Longitude': -87.703717}
{'Beach': 'Humboldt', 'Culture Note': nan, 'Culture Reading Mean': 1.0, 'Culture Sample 1 Reading': 1.0, 'Culture Sample 1 Timestamp': '09/28/2016 10:00:00 AM', 'Culture Sample 2 Reading': 1.0, 'Culture Sample 2 Timestamp': '09/28/0016 10:01:00 AM', 'Culture Sample Interval': 1.0, 'Culture Test ID': 114144.0, 'DNA Reading Mean': nan, 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Sample Timestamp': nan, 'DNA Test ID': nan, 'Latitude': 41.90643, 'Location': '(41.90643, -87.703717)', 'Longitude': -87.703717}
{'Beach': 'Humboldt', 'Culture Note': nan, 'Culture Reading Mean': 4.4, 'Culture Sample 1 Reading': 1.0, 'Culture Sample 1 Timestamp': '09/21/2016 10:00:00 AM', 'Culture Sample 2 Reading': 19.7, 'Culture Sample 2 Timestamp': '09/21/0016 10:01:00 AM', 'Culture Sample Interval': 1.0, 'Culture Test ID': 114139.0, 'DNA Reading Mean': nan, 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Sample Timestamp': nan, 'DNA Test ID': nan, 'Latitude': 41.90643, 'Location': '(41.90643, -87.703717)', 'Longitude': -87.703717}
{'Beach': 'Humboldt', 'Culture Note': nan, 'Culture Reading Mean': 114.6, 'Culture Sample 1 Reading': 228.2, 'Culture Sample 1 Timestamp': '09/30/2016 10:05:00 AM', 'Culture Sample 2 Reading': 57.6, 'Culture Sample 2 Timestamp': '09/30/0016 10:06:00 AM', 'Culture Sample Interval': 1.0, 'Culture Test ID': 114146.0, 'DNA Reading Mean': nan, 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Sample Timestamp': nan, 'DNA Test ID': nan, 'Latitude': 41.90643, 'Location': '(41.90643, -87.703717)', 'Longitude': -87.703717}
{'Beach': 'Humboldt', 'Culture Note': nan, 'Culture Reading Mean': 1.0, 'Culture Sample 1 Reading': 1.0, 'Culture Sample 1 Timestamp': '09/16/2016 08:30:00 AM', 'Culture Sample 2 Reading': 1.0, 'Culture Sample 2 Timestamp': '09/16/0016 08:32:00 AM', 'Culture Sample Interval': 2.0, 'Culture Test ID': 114136.0, 'DNA Reading Mean': nan, 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Sample Timestamp': nan, 'DNA Test ID': nan, 'Latitude': 41.90643, 'Location': '(41.90643, -87.703717)', 'Longitude': -87.703717}
{'Beach': 'Humboldt', 'Culture Note': nan, 'Culture Reading Mean': 1.0, 'Culture Sample 1 Reading': 1.0, 'Culture Sample 1 Timestamp': '09/18/2016 09:55:00 AM', 'Culture Sample 2 Reading': 1.0, 'Culture Sample 2 Timestamp': '09/18/0016 09:56:00 AM', 'Culture Sample Interval': 1.0, 'Culture Test ID': 114138.0, 'DNA Reading Mean': nan, 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Sample Timestamp': nan, 'DNA Test ID': nan, 'Latitude': 41.90643, 'Location': '(41.90643, -87.703717)', 'Longitude': -87.703717}
{'Beach': 'Humboldt', 'Culture Note': nan, 'Culture Reading Mean': 142.9, 'Culture Sample 1 Reading': 155.3, 'Culture Sample 1 Timestamp': '09/29/2016 10:00:00 AM', 'Culture Sample 2 Reading': 131.4, 'Culture Sample 2 Timestamp': '09/29/0016 10:01:00 AM', 'Culture Sample Interval': 1.0, 'Culture Test ID': 114145.0, 'DNA Reading Mean': nan, 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Sample Timestamp': nan, 'DNA Test ID': nan, 'Latitude': 41.90643, 'Location': '(41.90643, -87.703717)', 'Longitude': -87.703717}
{'Beach': 'Humboldt', 'Culture Note': nan, 'Culture Reading Mean': 1.4, 'Culture Sample 1 Reading': 2.0, 'Culture Sample 1 Timestamp': '09/25/2016 10:00:00 AM', 'Culture Sample 2 Reading': 1.0, 'Culture Sample 2 Timestamp': '09/25/0016 10:01:00 AM', 'Culture Sample Interval': 1.0, 'Culture Test ID': 114143.0, 'DNA Reading Mean': nan, 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Sample Timestamp': nan, 'DNA Test ID': nan, 'Latitude': 41.90643, 'Location': '(41.90643, -87.703717)', 'Longitude': -87.703717}
{'Beach': 'Humboldt', 'Culture Note': nan, 'Culture Reading Mean': 2.7, 'Culture Sample 1 Reading': 7.4, 'Culture Sample 1 Timestamp': '09/17/2016 09:55:00 AM', 'Culture Sample 2 Reading': 1.0, 'Culture Sample 2 Timestamp': '09/17/0016 09:56:00 AM', 'Culture Sample Interval': 1.0, 'Culture Test ID': 114137.0, 'DNA Reading Mean': nan, 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Sample Timestamp': nan, 'DNA Test ID': nan, 'Latitude': 41.90643, 'Location': '(41.90643, -87.703717)', 'Longitude': -87.703717}
{'Beach': 'Humboldt', 'Culture Note': nan, 'Culture Reading Mean': 1.0, 'Culture Sample 1 Reading': 1.0, 'Culture Sample 1 Timestamp': '09/15/2016 08:20:00 AM', 'Culture Sample 2 Reading': 1.0, 'Culture Sample 2 Timestamp': '09/15/0016 08:22:00 AM', 'Culture Sample Interval': 2.0, 'Culture Test ID': 114135.0, 'DNA Reading Mean': nan, 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Sample Timestamp': nan, 'DNA Test ID': nan, 'Latitude': 41.90643, 'Location': '(41.90643, -87.703717)', 'Longitude': -87.703717}
{'Beach': 'Humboldt', 'Culture Note': nan, 'Culture Reading Mean': 1.0, 'Culture Sample 1 Reading': 1.0, 'Culture Sample 1 Timestamp': '10/01/2016 10:00:00 AM', 'Culture Sample 2 Reading': 1.0, 'Culture Sample 2 Timestamp': '10/01/0016 10:01:00 AM', 'Culture Sample Interval': 1.0, 'Culture Test ID': 114147.0, 'DNA Reading Mean': nan, 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Sample Timestamp': nan, 'DNA Test ID': nan, 'Latitude': 41.90643, 'Location': '(41.90643, -87.703717)', 'Longitude': -87.703717}
{'Beach': 'Humboldt', 'Culture Note': nan, 'Culture Reading Mean': 1.0, 'Culture Sample 1 Reading': 1.0, 'Culture Sample 1 Timestamp': '09/22/2016 10:00:00 AM', 'Culture Sample 2 Reading': 1.0, 'Culture Sample 2 Timestamp': '09/22/0016 10:01:00 AM', 'Culture Sample Interval': 1.0, 'Culture Test ID': 114140.0, 'DNA Reading Mean': nan, 'DNA Sample 1 Reading': nan, 'DNA Sample 2 Reading': nan, 'DNA Sample Timestamp': nan, 'DNA Test ID': nan, 'Latitude': 41.90643, 'Location': '(41.90643, -87.703717)', 'Longitude': -87.703717}

,Beach,Culture Note,Culture Reading Mean,Culture Sample 1 Reading,Culture Sample 1 Timestamp,Culture Sample 2 Reading,Culture Sample 2 Timestamp,Culture Sample Interval,Culture Test ID,DNA Reading Mean,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Sample Timestamp,DNA Test ID,Latitude,Location,Longitude
0,12th Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,186.3,236.0,147.0,08/20/2016 12:40:00 PM,2009.0,41.8638,"(41.8638, -87.6083)",-87.6083
1,Rainbow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.7,86.0,5.0,06/26/2016 12:38:00 PM,983.0,41.7580,"(41.758, -87.551)",-87.5510
2,North Avenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.7,63.0,114.0,06/05/2016 12:45:00 PM,610.0,41.9148,"(41.9148, -87.6273)",-87.6273
3,63rd Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.3,21.0,41.0,08/20/2016 12:39:00 PM,1989.0,41.7827,"(41.7827, -87.5748)",-87.5748
4,North Avenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127.4,145.0,112.0,06/11/2016 01:18:00 PM,703.0,41.9148,"(41.9148, -87.6273)",-87.6273

In [115]:
# Let's look at the timestamps
lab_results['DNA Sample Timestamp'] = pd.to_datetime(lab_results['DNA Sample Timestamp'])
lab_results['Culture Sample 1 Timestamp'] = pd.to_datetime(lab_results['Culture Sample 1 Timestamp'])
lab_results['Culture Sample 2 Timestamp'] = pd.to_datetime(lab_results['Culture Sample 2 Timestamp'])
lab_results.head()

,Beach,Culture Note,Culture Reading Mean,Culture Sample 1 Reading,Culture Sample 1 Timestamp,Culture Sample 2 Reading,Culture Sample 2 Timestamp,Culture Sample Interval,Culture Test ID,DNA Reading Mean,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Sample Timestamp,DNA Test ID,Latitude,Location,Longitude
0,12th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,186.3,236.0,147.0,2016-08-20 12:40:00,2009.0,41.8638,"(41.8638, -87.6083)",-87.6083
1,Rainbow,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,20.7,86.0,5.0,2016-06-26 12:38:00,983.0,41.7580,"(41.758, -87.551)",-87.5510
2,North Avenue,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,84.7,63.0,114.0,2016-06-05 12:45:00,610.0,41.9148,"(41.9148, -87.6273)",-87.6273
3,63rd Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,29.3,21.0,41.0,2016-08-20 12:39:00,1989.0,41.7827,"(41.7827, -87.5748)",-87.5748
4,North Avenue,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,127.4,145.0,112.0,2016-06-11 13:18:00,703.0,41.9148,"(41.9148, -87.6273)",-87.6273

In [116]:
# Are there any samples 
lab_results.loc[
                                  lab_results['Culture Sample 1 Timestamp'].isnull() &
                                  (~lab_results['Culture Sample 2 Timestamp'].isnull())
]

Empty DataFrame
Columns: [Beach, Culture Note, Culture Reading Mean, Culture Sample 1 Reading, Culture Sample 1 Timestamp, Culture Sample 2 Reading, Culture Sample 2 Timestamp, Culture Sample Interval, Culture Test ID, DNA Reading Mean, DNA Sample 1 Reading, DNA Sample 2 Reading, DNA Sample Timestamp, DNA Test ID, Latitude, Location, Longitude]
Index: []

In [117]:
# Are there samples with both culture and DNA?
lab_results.loc[
                                  ~lab_results['Culture Reading Mean'].isnull() &
                                  ~lab_results['DNA Reading Mean'].isnull()

                                 ]

,Beach,Culture Note,Culture Reading Mean,Culture Sample 1 Reading,Culture Sample 1 Timestamp,Culture Sample 2 Reading,Culture Sample 2 Timestamp,Culture Sample Interval,Culture Test ID,DNA Reading Mean,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Sample Timestamp,DNA Test ID,Latitude,Location,Longitude
331,Montrose,NaN,844.0,411.0,2016-08-05 08:35:00,1733.0,2016-08-05 08:36:00,1.0,113691.0,79.7,39.0,163.0,2016-08-05 12:35:00,1606.0,41.96550,"(41.9655, -87.6385)",-87.638500
381,Ohio Street,NaN,13.4,20.0,2016-08-10 15:42:00,9.0,2016-08-10 15:43:00,1.0,113735.0,25.0,25.0,1.0,2016-08-10 13:11:00,1670.0,41.89350,"(41.8935, -87.6152)",-87.615200
402,Ohio Street,NaN,9.0,9.0,2016-06-16 07:03:00,9.0,2016-06-16 07:04:00,1.0,112935.0,4.5,10.0,2.0,2016-06-16 12:02:00,724.0,41.89350,"(41.8935, -87.6152)",-87.615200
404,Rainbow,NaN,241.8,579.0,2015-07-28 00:00:00,101.0,NaT,NaN,94065.0,279.0,78.9,984.0,2015-07-28 00:00:00,183.0,41.75800,"(41.758, -87.551)",-87.551000
436,12th Street,NaN,131.7,107.0,2016-07-14 06:45:00,162.0,2016-07-14 06:46:00,1.0,113340.0,32.0,27.0,38.0,2016-07-14 12:56:00,1245.0,41.86380,"(41.8638, -87.6083)",-87.608300
439,Ohio Street,NaN,414.2,727.0,2016-08-18 08:30:00,236.0,2016-08-18 08:31:00,1.0,113891.0,786.9,1274.0,486.0,2016-08-18 12:56:00,1891.0,41.89350,"(41.8935, -87.6152)",-87.615200
446,63rd Street,NaN,189.1,225.0,2016-08-04 08:30:00,159.0,2016-08-04 08:31:00,1.0,113659.0,130.8,139.0,123.0,2016-08-04 12:51:00,1587.0,41.78270,"(41.7827, -87.5748)",-87.574800
460,South Shore,NaN,14.9,13.0,2015-08-27 00:00:00,17.0,NaT,NaN,95429.0,22.0,15.3,31.0,2015-08-27 00:00:00,263.0,41.76890,"(41.7689, -87.5636)",-87.563600
462,12th Street,NaN,187.4,125.0,2016-06-03 07:03:00,281.0,2016-06-03 07:05:00,2.0,112738.0,344.9,146.0,815.0,2016-06-03 11:41:00,625.0,41.86380,"(41.8638, -87.6083)",-87.608300
532,Rainbow,NaN,32.1,21.0,2015-07-10 00:00:00,49.0,NaT,NaN,93301.0,68.0,82.8,55.7,2015-07-10 00:00:00,181.0,41.75800,"(41.758, -87.551)",-87.551000
570,Ohio Street,NaN,2192.3,2420.0,2016-06-10 08:50:00,1986.0,2016-06-10 08:55:00,5.0,112847.0,1681.3,1580.0,1789.0,2016-06-10 13:28:00,687.0,41.89350,"(41.8935, -87.6152)",-87.615200
583,North Avenue,NaN,55.5,44.0,2016-07-22 08:35:00,70.0,2016-07-22 08:40:00,5.0,113472.0,52.0,50.0,54.0,2016-07-22 12:41:00,1325.0,41.91480,"(41.9148, -87.6273)",-87.627300
591,63rd Street,NaN,435.0,435.0,2015-06-01 00:00:00,435.0,NaT,NaN,95111.0,627.0,514.0,763.6,2015-06-01 00:00:00,54.0,41.78270,"(41.7827, -87.5748)",-87.574800
592,Rainbow,NaN,401.7,222.0,2015-08-25 00:00:00,727.0,NaT,NaN,95386.0,809.0,1385.5,472.4,2015-08-25 00:00:00,22.0,41.75800,"(41.758, -87.551)",-87.551000
614,Rainbow,NaN,392.0,397.0,2015-08-12 00:00:00,387.0,NaT,NaN,94772.0,1384.0,4514.9,424.1,2015-08-12 00:00:00,1.0,41.75800,"(41.758, -87.551)",-87.551000
621,Ohio Street,NaN,3.5,4.0,2016-06-30 07:06:00,3.0,2016-06-30 07:08:00,2.0,113148.0,5.3,7.0,4.0,2016-06-30 11:55:00,1028.0,41.89350,"(41.8935, -87.6152)",-87.615200
634,Montrose,NaN,104.1,126.0,2016-08-11 08:30:00,86.0,2016-08-11 08:31:00,1.0,113784.0,7.7,6.0,10.0,2016-08-11 12:36:00,1706.0,41.96550,"(41.9655, -87.6385)",-87.638500
647,Montrose,NaN,950.0,980.0,2015-06-16 00:00:00,921.0,NaT,NaN,108170.0,519.0,394.8,681.1,2015-06-16 00:00:00,73.0,41.96550,"(41.9655, -87.6385)",-87.638500
655,North Avenue,NaN,178.1,197.0,2016-08-26 07:05:00,161.0,2016-08-26 07:06:00,1.0,114006.0,103.2,95.0,112.0,2016-08-26 12:49:00,2108.0,41.91480,"(41.9148, -87.6273)",-87.627300
661,North Avenue,NaN,142.8,179.0,2016-06-03 06:40:00,114.0,2016-06-03 06:41:00,1.0,112741.0,96.3,61.0,152.0,2016-06-03 11:40:00,606.0,41.91480,"(41.9148, -87.6273)",-87.627300
710,63rd Street,NaN,847.7,1046.0,2016-07-13 07:35:00,687.0,2016-07-13 07:40:00,5.0,113315.0,94.9,117.0,77.0,2016-07-13 12:25:00,1204.0,41.78270,"(41.7827, -87.5748)",-87.574800
715,South Shore,NaN,175.7,219.0,2015-08-05 00:00:00,141.0,NaT,NaN,94540.0,131.0,131.0,130.9,2015-08-05 00:00:00,148.0,41.76890,"(41.7689, -87.5636)",-87.563600
723,Calumet,NaN,44.4,29.0,2015-06-24 00:00:00,68.0,NaT,NaN,87355.0,158.0,72.1,347.4,2015-06-24 00:00:00,190.0,41.71420,"(41.7142, -87.5299)",-87.529900
753,Rainbow,NaN,180.7,164.0,2016-06-08 06:40:00,199.0,2016-06-08 06:45:00,5.0,112798.0,160.5,158.0,163.0,2016-06-08 11:31:00,618.0,41.75800,"(41.758, -87.551)",-87.551000
803,Montrose,NaN,20.3,23.0,2016-08-24 08:55:00,18.0,2016-08-24 08:56:00,1.0,113986.0,9.6,23.0,4.0,2016-08-24 13:13:00,2046.0,41.96550,"(41.9655, -87.6385)",-87.638500
823,Montrose,NaN,197.0,211.0,2016-06-15 05:40:00,184.0,2016-06-15 05:41:00,1.0,112918.0,202.5,279.0,147.0,2016-06-15 11:42:00,761.0,41.96550,"(41.9655, -87.6385)",-87.638500
839,Rainbow,NaN,16.0,15.0,2016-06-18 10:30:00,17.0,2016-06-18 10:35:00,5.0,112969.0,183.1,126.0,266.0,2016-06-18 12:58:00,843.0,41.75800,"(41.758, -87.551)",-87.551000
864,Rainbow,NaN,159.5,173.0,2016-07-09 10:45:00,147.0,2016-07-09 10:46:00,1.0,113267.0,569.0,562.0,576.0,2016-07-09 13:02:00,1166.0,41.75800,"(41.758, -87.551)",-87.551000
910,Ohio Street,NaN,317.7,219.0,2016-08-24 10:40:00,461.0,2016-08-24 10:41:00,1.0,113981.0,10.8,4.0,29.0,2016-08-24 13:13:00,2048.0,41.89350,"(41.8935, -87.6152)",-87.615200
934,63rd Street,NaN,39.2,27.0,2016-06-17 07:15:00,57.0,2016-06-17 07:20:00,5.0,112951.0,28.1,11.0,72.0,2016-06-17 11:47:00,789.0,41.78270,"(41.7827, -87.5748)",-87.574800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,South Shore,NaN,49.8,69.0,2015-07-23 00:00:00,36.0,NaT,NaN,93821.0,37.0,85.2,16.1,2015-07-23 00:00:00,179.0,41.76890,"(41.7689, -87.5636)",-87.563600
12843,Calumet,NaN,21.2,28.0,2015-08-13 00:00:00,16.0,NaT,NaN,94915.0,52.0,32.0,84.8,2015-08-13 00:00:00,237.0,41.71420,"(41.7142, -87.5299)",-87.529900
12852,North Avenue,NaN,31.9,29.0,2016-08-17 08:15:00,35.0,2016-08-17 08:16:00,1.0,113872.0,20.8,24.0,18.0,2016-08-17 15:46:00,1886.0,41.91480,"(41.9148, -87.6273)",-87.627300
12855,North Avenue,NaN,152.7,144.0,2016-06-15 07:15:00,162.0,2016-06-15 07:17:00,2.0,112916.0,26.0,27.0,25.0,2016-06-15 11:43:00,742.0,41.91480,"(41.9148, -87.6273)",-87.627300
12859,Montrose,NaN,40.2,81.0,2015-07-29 00:00:00,20.0,NaT,NaN,95841.0,27.0,28.5,25.9,2015-07-29 00:00:00,243.0,41.96550,"(41.9655, -87.6385)",-87.638500
12869,North Avenue,NaN,121.6,159.0,2016-06-23 07:30:00,93.0,2016-06-23 07:32:00,2.0,113044.0,445.8,811.0,245.0,2016-06-23 13:32:00,942.0,41.91480,"(41.9148, -87.6273)",-87.627300
12872,Montrose,NaN,142.9,162.0,2016-08-20 06:35:00,126.0,2016-08-20 06:36:00,1.0,113927.0,85.7,43.0,171.0,2016-08-20 12:38:00,1986.0,41.96550,"(41.9655, -87.6385)",-87.638500
12909,Rainbow,NaN,2.4,2.0,2016-06-04 10:40:00,3.0,2016-06-04 10:41:00,1.0,112753.0,7.7,20.0,3.0,2016-06-04 12:58:00,588.0,41.75800,"(41.758, -87.551)",-87.551000
12934,63rd Street,NaN,310.8,488.0,2016-06-23 07:25:00,198.0,2016-06-23 07:30:00,5.0,113037.0,1254.2,1381.0,1139.0,2016-06-23 13:34:00,924.0,41.78270,"(41.7827, -87.5748)",-87.574800
12938,South Shore,NaN,47.4,66.0,2015-06-25 00:00:00,34.0,NaT,NaN,87378.0,381.0,262.6,552.8,2015-06-25 00:00:00,97.0,41.76890,"(41.7689, -87.5636)",-87.563600
12942,Montrose,NaN,2420.0,2420.0,2016-06-10 09:20:00,2420.0,2016-06-10 09:25:00,5.0,112851.0,1281.0,886.0,1852.0,2016-06-10 13:27:00,686.0,41.96550,"(41.9655, -87.6385)",-87.638500
12948,Ohio Street,NaN,151.2,1203.0,2016-06-02 06:15:00,19.0,2016-06-02 06:19:00,4.0,112718.0,60.7,460.0,8.0,2016-06-02 12:14:00,603.0,41.89350,"(41.8935, -87.6152)",-87.615200
12964,12th Street,NaN,45.0,78.0,2016-07-08 06:43:00,26.0,2016-07-08 06:44:00,1.0,113252.0,4.0,4.0,1.0,2016-07-08 11:48:00,1099.0,41.86380,"(41.8638, -87.6083)",-87.608300
12988,Rainbow,NaN,25.7,17.0,2016-06-30 07:20:00,39.0,2016-06-30 07:25:00,5.0,113141.0,47.6,39.0,58.0,2016-06-30 11:55:00,1007.0,41.75800,"(41.758, -87.551)",-87.551000
12992,South Shore,NaN,219.3,248.0,2016-07-01 07:05:00,194.0,2016-07-01 07:10:00,5.0,113163.0,679.6,771.0,599.0,2016-07-01 11:31:00,1045.0,41.76890,"(41.7689, -87.5636)",-87.563600
13013,Rainbow,NaN,4.9,8.0,2016-06-25 10:15:00,3.0,2016-06-25 10:20:00,5.0,113076.0,39.4,62.0,25.0,2016-06-25 12:43:00,966.0,41.75800,"(41.758, -87.551)",-87.551000
13057,Montrose,NaN,94.3,127.0,2015-07-31 00:00:00,70.0,NaT,NaN,95883.0,60.0,58.8,61.8,2015-07-31 00:00:00,204.0,41.96550,"(41.9655, -87.6385)",-87.638500
13104,Calumet,NaN,155.4,150.0,2015-06-17 00:00:00,161.0,NaT,NaN,108179.0,115.0,122.5,107.8,2015-06-17 00:00:00,154.0,41.71420,"(41.7142, -87.5299)",-87.529900
13118,Rainbow,NaN,39.8,51.0,2015-07-14 00:00:00,31.0,NaT,NaN,93507.0,60.0,86.5,41.4,2015-07-14 00:00:00,176.0,41.75800,"(41.758, -87.551)",-87.551000
13144,Montrose,NaN,36.2,13.0,2015-08-28 00:00:00,101.0,NaT,NaN,95689.0,92.0,42.7,197.0,2015-08-28 00:00:00,223.0,41.96550,"(41.9655, -87.6385)",-87.638500
13146,12th Street,NaN,26.4,29.0,2016-07-29 09:20:00,24.0,2016-07-29 09:21:00,1.0,113576.0,44.0,22.0,88.0,2016-07-29 12:48:00,1509.0,41.86380,"(41.8638, -87.6083)",-87.608300
13160,Calumet,NaN,90.3,291.0,2015-08-06 00:00:00,28.0,NaT,NaN,94452.0,279.0,505.0,154.4,2015-08-06 00:00:00,56.0,41.71420,"(41.7142, -87.5299)",-87.529900
13176,Rainbow,NaN,149.6,179.0,2015-06-11 00:00:00,125.0,NaT,NaN,95659.0,10386.0,3243.3,33257.9,2015-06-11 00:00:00,6.0,41.75800,"(41.758, -87.551)",-87.551000
13221,63rd Street,NaN,88.7,96.0,2015-07-15 00:00:00,82.0,NaT,NaN,93530.0,96.0,72.5,126.0,2015-07-15 00:00:00,189.0,41.78270,"(41.7827, -87.5748)",-87.574800
13284,Montrose,NaN,98.0,150.0,2015-06-02 00:00:00,64.0,NaT,NaN,95252.0,61.0,41.6,89.0,2015-06-02 00:00:00,225.0,41.96550,"(41.9655, -87.6385)",-87.638500
13286,Montrose,NaN,127.0,126.0,2016-06-08 05:35:00,128.0,2016-06-08 05:37:00,2.0,112809.0,30.2,61.0,15.0,2016-06-08 11:30:00,615.0,41.96550,"(41.9655, -87.6385)",-87.638500
13297,Montrose,NaN,90.2,76.0,2016-08-03 08:10:00,107.0,2016-08-03 08:11:00,1.0,113647.0,125.1,149.0,105.0,2016-08-03 12:30:00,1574.0,41.96550,"(41.9655, -87.6385)",-87.638500
13301,Calumet,NaN,365.0,365.0,2015-07-15 00:00:00,365.0,NaT,NaN,93527.0,140.0,119.1,164.8,2015-07-15 00:00:00,156.0,41.71420,"(41.7142, -87.5299)",-87.529900
13304,Calumet,NaN,532.3,517.0,2016-06-15 06:30:00,548.0,2016-06-15 06:35:00,5.0,112906.0,136.5,154.0,121.0,2016-06-15 11:42:00,721.0,41.71420,"(41.7142, -87.5299)",-87.529900
15235,Humboldt,NaN,1.0,1.0,2016-08-04 08:30:00,1.0,2016-08-04 08:31:00,1.0,113666.0,26.5,25.0,28.0,2016-08-04 13:20:00,1514.0,41.90643,"(41.90643, -87.703717)",-87.703717

In [118]:
# Are there samples with only DNA?
lab_results.loc[
                                  lab_results['Culture Reading Mean'].isnull() &
                                  ~lab_results['DNA Reading Mean'].isnull()

                                 ]

,Beach,Culture Note,Culture Reading Mean,Culture Sample 1 Reading,Culture Sample 1 Timestamp,Culture Sample 2 Reading,Culture Sample 2 Timestamp,Culture Sample Interval,Culture Test ID,DNA Reading Mean,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Sample Timestamp,DNA Test ID,Latitude,Location,Longitude
0,12th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,186.3,236.0,147.0,2016-08-20 12:40:00,2009.0,41.86380,"(41.8638, -87.6083)",-87.608300
1,Rainbow,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,20.7,86.0,5.0,2016-06-26 12:38:00,983.0,41.75800,"(41.758, -87.551)",-87.551000
2,North Avenue,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,84.7,63.0,114.0,2016-06-05 12:45:00,610.0,41.91480,"(41.9148, -87.6273)",-87.627300
3,63rd Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,29.3,21.0,41.0,2016-08-20 12:39:00,1989.0,41.78270,"(41.7827, -87.5748)",-87.574800
4,North Avenue,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,127.4,145.0,112.0,2016-06-11 13:18:00,703.0,41.91480,"(41.9148, -87.6273)",-87.627300
5,Rainbow,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,26.5,18.0,39.0,2016-07-02 13:05:00,1070.0,41.75800,"(41.758, -87.551)",-87.551000
6,Calumet,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,23.6,18.0,31.0,2016-07-03 12:13:00,1030.0,41.71420,"(41.7142, -87.5299)",-87.529900
7,Osterman,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,37.5,26.0,54.0,2017-05-26 12:32:00,2295.0,41.98770,"(41.9877, -87.6545)",-87.654500
8,57th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,155.3,127.0,190.0,2017-05-28 00:00:00,2347.0,41.79110,"(41.7911, -87.5797)",-87.579700
9,12th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,225.1,67.0,756.0,2017-05-26 12:29:00,2289.0,41.86380,"(41.8638, -87.6083)",-87.608300
10,Osterman,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,16.3,7.0,38.0,2017-05-29 12:17:00,2343.0,41.98770,"(41.9877, -87.6545)",-87.654500
11,Margaret T Burroughs (31st),NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,68.2,101.0,46.0,2017-05-28 00:00:00,2330.0,41.83930,"(41.8393, -87.6072)",-87.607200
12,Ohio Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,12.0,36.0,4.0,2016-07-17 14:27:00,1236.0,41.89350,"(41.8935, -87.6152)",-87.615200
13,Calumet,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,20.6,47.0,9.0,2016-08-07 12:57:00,1629.0,41.71420,"(41.7142, -87.5299)",-87.529900
14,57th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,63.1,78.0,51.0,2017-05-27 00:00:00,2313.0,41.79110,"(41.7911, -87.5797)",-87.579700
15,North Avenue,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,65.5,66.0,65.0,2016-08-28 12:28:00,2146.0,41.91480,"(41.9148, -87.6273)",-87.627300
16,Rainbow,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,136.0,215.0,86.0,2016-08-07 12:58:00,1631.0,41.75800,"(41.758, -87.551)",-87.551000
17,South Shore,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,118.0,118.0,1.0,2016-06-05 00:00:00,593.0,41.76890,"(41.7689, -87.5636)",-87.563600
18,Leone,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,5.5,3.0,10.0,2017-05-28 00:00:00,2352.0,42.01310,"(42.0131, -87.6635)",-87.663500
19,Calumet,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,407.6,468.0,355.0,2016-08-21 12:44:00,1990.0,41.71420,"(41.7142, -87.5299)",-87.529900
20,Ohio Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,29.9,39.0,23.0,2016-08-25 13:01:00,2087.0,41.89350,"(41.8935, -87.6152)",-87.615200
21,Ohio Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,94.4,135.0,66.0,2016-07-02 13:05:00,1069.0,41.89350,"(41.8935, -87.6152)",-87.615200
22,Rainbow,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,230.7,68.0,783.0,2016-07-30 13:01:00,1567.0,41.75800,"(41.758, -87.551)",-87.551000
23,63rd Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,398.3,867.0,183.0,2016-08-27 13:02:00,2114.0,41.78270,"(41.7827, -87.5748)",-87.574800
24,Ohio Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,42.0,49.0,36.0,2016-09-04 12:35:00,2269.0,41.89350,"(41.8935, -87.6152)",-87.615200
25,Humboldt,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,1995.9,2602.0,1531.0,2017-05-27 00:00:00,2315.0,41.90643,"(41.90643, -87.703717)",-87.703717
26,South Shore,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,84.1,73.0,97.0,2016-07-31 12:19:00,1553.0,41.76890,"(41.7689, -87.5636)",-87.563600
27,63rd Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,301.3,246.0,369.0,2016-06-19 12:30:00,849.0,41.78270,"(41.7827, -87.5748)",-87.574800
28,Rainbow,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,14.0,39.0,5.0,2016-07-24 12:29:00,1408.0,41.75800,"(41.758, -87.551)",-87.551000
29,Ohio Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,32.5,34.0,31.0,2016-07-16 12:20:00,1232.0,41.89350,"(41.8935, -87.6152)",-87.615200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15398,57th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,98.4,236.0,41.0,2017-06-05 12:10:00,2547.0,41.79110,"(41.7911, -87.5797)",-87.579700
15399,South Shore,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,920.0,923.0,917.0,2017-06-05 12:10:00,2546.0,41.76890,"(41.7689, -87.5636)",-87.563600
15400,Osterman,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,19.1,7.0,52.0,2017-06-05 00:00:00,2551.0,41.98770,"(41.9877, -87.6545)",-87.654500
15401,Calumet,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,87.0,88.0,86.0,2017-06-05 12:10:00,2545.0,41.71420,"(41.7142, -87.5299)",-87.529900
15402,Marion Mahony Griffin (Jarvis),NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,32.5,22.0,48.0,2017-06-05 00:00:00,2611.0,42.01610,"(42.0161, -87.6647)",-87.664700
15403,Foster,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,282.9,302.0,265.0,2017-06-05 00:00:00,2609.0,41.97850,"(41.9785, -87.6515)",-87.651500
15404,Margaret T Burroughs (31st),NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,105.3,137.0,81.0,2017-06-05 12:10:00,2605.0,41.83930,"(41.8393, -87.6072)",-87.607200
15405,Ohio Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,30.8,11.0,86.0,2017-06-05 12:10:00,2606.0,41.89350,"(41.8935, -87.6152)",-87.615200
15406,Oakwood,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,9.9,9.0,11.0,2017-06-05 12:10:00,2585.0,41.82110,"(41.8211, -87.5976)",-87.597600
15407,Montrose,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,3223.8,5207.0,1996.0,2017-06-05 12:10:00,2608.0,41.96550,"(41.9655, -87.6385)",-87.638500
15408,63rd Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,1073.8,1126.0,1024.0,2017-06-05 12:10:00,2566.0,41.78270,"(41.7827, -87.5748)",-87.574800
15409,Hartigan (Albion),NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,9.4,11.0,8.0,2017-06-05 00:00:00,2610.0,42.00270,"(42.0027, -87.6564)",-87.656400
15410,63rd Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,76.5,150.0,39.0,2017-06-06 12:07:00,2646.0,41.78270,"(41.7827, -87.5748)",-87.574800
15411,North Avenue,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,64.0,63.0,65.0,2017-06-06 12:07:00,2630.0,41.91480,"(41.9148, -87.6273)",-87.627300
15412,Osterman,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,238.6,199.0,286.0,2017-06-06 12:07:00,2651.0,41.98770,"(41.9877, -87.6545)",-87.654500
15413,Montrose,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,36.7,48.0,28.0,2017-06-06 12:07:00,2650.0,41.96550,"(41.9655, -87.6385)",-87.638500
15414,12th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,95.4,182.0,50.0,2017-06-06 12:07:00,2628.0,41.86380,"(41.8638, -87.6083)",-87.608300
15415,Howard,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,296.7,231.0,381.0,2017-06-06 12:07:00,2652.0,42.01880,"(42.0188, -87.6663)",-87.666300
15416,South Shore,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,87.2,39.0,195.0,2017-06-06 12:07:00,2626.0,41.76890,"(41.7689, -87.5636)",-87.563600
15417,Calumet,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,291.8,267.0,319.0,2017-06-06 12:07:00,2625.0,41.71420,"(41.7142, -87.5299)",-87.529900
15418,57th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,122.2,131.0,114.0,2017-06-06 12:07:00,2627.0,41.79110,"(41.7911, -87.5797)",-87.579700
15419,Humboldt,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,730.5,286.0,1866.0,2017-06-06 12:07:00,2649.0,41.90643,"(41.90643, -87.703717)",-87.703717
15420,Ohio Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,512.7,57.0,4611.0,2017-06-06 12:07:00,2648.0,41.89350,"(41.8935, -87.6152)",-87.615200
15421,Oak Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,4.9,2.0,12.0,2017-06-06 12:07:00,2629.0,41.90320,"(41.9032, -87.6235)",-87.623500
15422,Rainbow,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,122.7,70.0,215.0,2017-06-06 12:07:00,2645.0,41.75800,"(41.758, -87.551)",-87.551000
15423,Rogers,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,685.0,685.0,NaN,2017-06-06 12:07:00,2654.0,42.02130,"(42.0213, -87.6666)",-87.666600
15424,Marion Mahony Griffin (Jarvis),NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,1171.0,1171.0,NaN,2017-06-06 12:07:00,2653.0,42.01610,"(42.0161, -87.6647)",-87.664700
15425,Margaret T Burroughs (31st),NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,133.0,133.0,133.0,2017-06-06 12:07:00,2647.0,41.83930,"(41.8393, -87.6072)",-87.607200
15426,Hartigan (Albion),NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,200.2,249.0,161.0,2017-06-06 12:07:00,2632.0,42.00270,"(42.0027, -87.6564)",-87.656400
15427,Foster,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,167.7,145.0,194.0,2017-06-06 12:07:00,2631.0,41.97850,"(41.9785, -87.6515)",-87.651500

In [119]:
# Change columns to lowercase and underscores
lab_results.columns = [_.lower().replace(' ', '_') for _ in lab_results.columns]
lab_results.dtypes

beach                                 object
culture_note                         float64
culture_reading_mean                 float64
culture_sample_1_reading             float64
culture_sample_1_timestamp    datetime64[ns]
culture_sample_2_reading             float64
culture_sample_2_timestamp    datetime64[ns]
culture_sample_interval              float64
culture_test_id                      float64
dna_reading_mean                     float64
dna_sample_1_reading                 float64
dna_sample_2_reading                 float64
dna_sample_timestamp          datetime64[ns]
dna_test_id                          float64
latitude                             float64
location                              object
longitude                            float64
dtype: object

In [120]:
_ = []
for i, lab_result in enumerate(lab_results.to_dict('records')):
    date, year = None, None
    if str(lab_result['culture_sample_1_timestamp']).lower() != 'nat':
        year = lab_result['culture_sample_1_timestamp'].year
        date = lab_result['culture_sample_1_timestamp'].date()
    if str(lab_result['dna_sample_timestamp']).lower() != 'nat':
        date2 = lab_result['date'] = lab_result['dna_sample_timestamp'].date()
        if not date:
            # print("In it")
            date = date2
            year = date2.year
        elif str(date) != str(date2):
            print('Unmatching dates ' + str(lab_result))
            if date2 > date:
                date = date2
                year = date2.year
    lab_result['year'] = year
    lab_result['date'] = date
    _.append(lab_result)
lab_results = pd.DataFrame(_)
lab_results.head()

,beach,culture_note,culture_reading_mean,culture_sample_1_reading,culture_sample_1_timestamp,culture_sample_2_reading,culture_sample_2_timestamp,culture_sample_interval,culture_test_id,date,dna_reading_mean,dna_sample_1_reading,dna_sample_2_reading,dna_sample_timestamp,dna_test_id,latitude,location,longitude,year
0,12th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-08-20,186.3,236.0,147.0,2016-08-20 12:40:00,2009.0,41.8638,"(41.8638, -87.6083)",-87.6083,2016
1,Rainbow,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-06-26,20.7,86.0,5.0,2016-06-26 12:38:00,983.0,41.7580,"(41.758, -87.551)",-87.5510,2016
2,North Avenue,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-06-05,84.7,63.0,114.0,2016-06-05 12:45:00,610.0,41.9148,"(41.9148, -87.6273)",-87.6273,2016
3,63rd Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-08-20,29.3,21.0,41.0,2016-08-20 12:39:00,1989.0,41.7827,"(41.7827, -87.5748)",-87.5748,2016
4,North Avenue,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-06-11,127.4,145.0,112.0,2016-06-11 13:18:00,703.0,41.9148,"(41.9148, -87.6273)",-87.6273,2016

In [121]:
print(lab_results.loc[lab_results['year'].isnull()])
print(lab_results.loc[lab_results['date'].isnull()])

Empty DataFrame
Columns: [beach, culture_note, culture_reading_mean, culture_sample_1_reading, culture_sample_1_timestamp, culture_sample_2_reading, culture_sample_2_timestamp, culture_sample_interval, culture_test_id, date, dna_reading_mean, dna_sample_1_reading, dna_sample_2_reading, dna_sample_timestamp, dna_test_id, latitude, location, longitude, year]
Index: []
Empty DataFrame
Columns: [beach, culture_note, culture_reading_mean, culture_sample_1_reading, culture_sample_1_timestamp, culture_sample_2_reading, culture_sample_2_timestamp, culture_sample_interval, culture_test_id, date, dna_reading_mean, dna_sample_1_reading, dna_sample_2_reading, dna_sample_timestamp, dna_test_id, latitude, location, longitude, year]
Index: []

In [122]:
lab_results.loc[lab_results['dna_test_id'] == 2411.0]

,beach,culture_note,culture_reading_mean,culture_sample_1_reading,culture_sample_1_timestamp,culture_sample_2_reading,culture_sample_2_timestamp,culture_sample_interval,culture_test_id,date,dna_reading_mean,dna_sample_1_reading,dna_sample_2_reading,dna_sample_timestamp,dna_test_id,latitude,location,longitude,year
87,Marion Mahony Griffin (Jarvis),NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-05-30,21.1,37.0,12.0,2017-05-30,2411.0,42.0161,"(42.0161, -87.6647)",-87.6647,2017

In [123]:
lab_results['year'].unique()

array([2016, 2017, 2007, 2014, 2009, 2015, 2011, 2012, 2010, 2013, 2006,
       2008])

In [124]:
lab_results.loc[(~lab_results['dna_sample_timestamp'].isnull()) & (~lab_results['culture_sample_1_timestamp'].isnull())]\
    [['dna_sample_timestamp', 'culture_sample_1_timestamp', 'date']].sort_values('date', ascending=False)

      dna_sample_timestamp culture_sample_1_timestamp        date
1051   2016-09-02 12:31:00        2016-09-02 08:10:00  2016-09-02
12218  2016-09-02 12:30:00        2016-09-02 08:00:00  2016-09-02
12745  2016-09-02 12:29:00        2016-09-02 08:50:00  2016-09-02
11740  2016-09-02 12:29:00        2016-09-02 00:00:00  2016-09-02
980    2016-09-02 12:30:00        2016-09-02 07:30:00  2016-09-02
10679  2016-09-02 12:30:00        2016-09-02 07:15:00  2016-09-02
12402  2016-09-02 12:30:00        2016-09-02 06:55:00  2016-09-02
8055   2016-09-02 12:29:00        2016-09-02 06:39:00  2016-09-02
6596   2016-09-01 14:02:00        2016-09-01 06:30:00  2016-09-01
6881   2016-09-01 14:02:00        2016-09-01 07:45:00  2016-09-01
1269   2016-09-01 14:03:00        2016-09-01 09:05:00  2016-09-01
4332   2016-09-01 14:02:00        2016-09-01 08:05:00  2016-09-01
4258   2016-09-01 14:01:00        2016-09-01 07:35:00  2016-09-01
2723   2016-09-01 14:01:00        2016-09-01 06:10:00  2016-09-01
9896   2016-09-01 14:02:00        2016-09-01 06:45:00  2016-09-01
9502   2016-09-01 14:03:00        2016-09-01 08:15:00  2016-09-01
8026   2016-08-31 12:25:00        2016-08-31 07:45:00  2016-08-31
6178   2016-08-31 00:23:00        2016-08-31 07:30:00  2016-08-31
1100   2016-08-31 12:25:00        2016-08-31 08:15:00  2016-08-31
7434   2016-08-31 12:24:00        2016-08-31 06:50:00  2016-08-31
4633   2016-08-31 12:25:00        2016-08-31 08:05:00  2016-08-31
11852  2016-08-31 12:24:00        2016-08-31 06:10:00  2016-08-31
2709   2016-08-31 12:24:00        2016-08-31 06:25:00  2016-08-31
2621   2016-08-31 12:25:00        2016-08-31 08:45:00  2016-08-31
12302  2016-08-28 12:29:00        2016-08-28 07:15:00  2016-08-28
6340   2016-08-26 12:49:00        2016-08-26 08:15:00  2016-08-26
6408   2016-08-26 12:50:00        2016-08-26 08:35:00  2016-08-26
1686   2016-08-26 12:49:00        2016-08-26 06:50:00  2016-08-26
5150   2016-08-26 12:50:00        2016-08-26 09:20:00  2016-08-26
6904   2016-08-26 12:50:00        2016-08-26 08:25:00  2016-08-26
...                    ...                        ...         ...
11011  2015-06-03 00:00:00        2015-06-03 00:00:00  2015-06-03
11466  2015-06-03 00:00:00        2015-06-03 00:00:00  2015-06-03
10369  2015-06-03 00:00:00        2015-06-03 00:00:00  2015-06-03
6897   2015-06-03 00:00:00        2015-06-03 00:00:00  2015-06-03
9220   2015-06-03 00:00:00        2015-06-03 00:00:00  2015-06-03
13284  2015-06-02 00:00:00        2015-06-02 00:00:00  2015-06-02
2773   2015-06-02 00:00:00        2015-06-02 00:00:00  2015-06-02
12058  2015-06-02 00:00:00        2015-06-02 00:00:00  2015-06-02
3248   2015-06-02 00:00:00        2015-06-02 00:00:00  2015-06-02
1142   2015-06-02 00:00:00        2015-06-02 00:00:00  2015-06-02
11508  2015-06-01 00:00:00        2015-06-01 00:00:00  2015-06-01
8947   2015-06-01 00:00:00        2015-06-01 00:00:00  2015-06-01
8973   2015-06-01 00:00:00        2015-06-01 00:00:00  2015-06-01
1457   2015-06-01 00:00:00        2015-06-01 00:00:00  2015-06-01
591    2015-06-01 00:00:00        2015-06-01 00:00:00  2015-06-01
2714   2015-05-28 00:00:00        2015-05-28 00:00:00  2015-05-28
9004   2015-05-28 00:00:00        2015-05-28 00:00:00  2015-05-28
10846  2015-05-28 00:00:00        2015-05-28 00:00:00  2015-05-28
11246  2015-05-28 00:00:00        2015-05-28 00:00:00  2015-05-28
5940   2015-05-28 00:00:00        2015-05-28 00:00:00  2015-05-28
1484   2015-05-27 00:00:00        2015-05-27 00:00:00  2015-05-27
1991   2015-05-27 00:00:00        2015-05-27 00:00:00  2015-05-27
12203  2015-05-27 00:00:00        2015-05-27 00:00:00  2015-05-27
1065   2015-05-27 00:00:00        2015-05-27 00:00:00  2015-05-27
2089   2015-05-27 00:00:00        2015-05-27 00:00:00  2015-05-27
9149   2015-05-26 00:00:00        2015-05-26 00:00:00  2015-05-26
4665   2015-05-26 00:00:00        2015-05-26 00:00:00  2015-05-26
2864   2015-05-26 00:00:00        2015-05-26 00:00:00  2015-05-26
3802   2015-05-26 00:00:00        2015-05-26 00:00:00  2015-05-26
2224   2015-05-26 00:00:00        2015-05-26 00:00:00  2015-05-26

[630 rows x 3 columns]

In [125]:
lab_results.dtypes

beach                                 object
culture_note                         float64
culture_reading_mean                 float64
culture_sample_1_reading             float64
culture_sample_1_timestamp    datetime64[ns]
culture_sample_2_reading             float64
culture_sample_2_timestamp    datetime64[ns]
culture_sample_interval              float64
culture_test_id                      float64
date                                  object
dna_reading_mean                     float64
dna_sample_1_reading                 float64
dna_sample_2_reading                 float64
dna_sample_timestamp          datetime64[ns]
dna_test_id                          float64
latitude                             float64
location                              object
longitude                            float64
year                                   int64
dtype: object

In [126]:
lab_results.loc[lab_results['culture_test_id'].isnull()]

,beach,culture_note,culture_reading_mean,culture_sample_1_reading,culture_sample_1_timestamp,culture_sample_2_reading,culture_sample_2_timestamp,culture_sample_interval,culture_test_id,date,dna_reading_mean,dna_sample_1_reading,dna_sample_2_reading,dna_sample_timestamp,dna_test_id,latitude,location,longitude,year
0,12th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-08-20,186.3,236.0,147.0,2016-08-20 12:40:00,2009.0,41.86380,"(41.8638, -87.6083)",-87.608300,2016
1,Rainbow,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-06-26,20.7,86.0,5.0,2016-06-26 12:38:00,983.0,41.75800,"(41.758, -87.551)",-87.551000,2016
2,North Avenue,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-06-05,84.7,63.0,114.0,2016-06-05 12:45:00,610.0,41.91480,"(41.9148, -87.6273)",-87.627300,2016
3,63rd Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-08-20,29.3,21.0,41.0,2016-08-20 12:39:00,1989.0,41.78270,"(41.7827, -87.5748)",-87.574800,2016
4,North Avenue,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-06-11,127.4,145.0,112.0,2016-06-11 13:18:00,703.0,41.91480,"(41.9148, -87.6273)",-87.627300,2016
5,Rainbow,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-07-02,26.5,18.0,39.0,2016-07-02 13:05:00,1070.0,41.75800,"(41.758, -87.551)",-87.551000,2016
6,Calumet,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-07-03,23.6,18.0,31.0,2016-07-03 12:13:00,1030.0,41.71420,"(41.7142, -87.5299)",-87.529900,2016
7,Osterman,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-05-26,37.5,26.0,54.0,2017-05-26 12:32:00,2295.0,41.98770,"(41.9877, -87.6545)",-87.654500,2017
8,57th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-05-28,155.3,127.0,190.0,2017-05-28 00:00:00,2347.0,41.79110,"(41.7911, -87.5797)",-87.579700,2017
9,12th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-05-26,225.1,67.0,756.0,2017-05-26 12:29:00,2289.0,41.86380,"(41.8638, -87.6083)",-87.608300,2017
10,Osterman,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-05-29,16.3,7.0,38.0,2017-05-29 12:17:00,2343.0,41.98770,"(41.9877, -87.6545)",-87.654500,2017
11,Margaret T Burroughs (31st),NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-05-28,68.2,101.0,46.0,2017-05-28 00:00:00,2330.0,41.83930,"(41.8393, -87.6072)",-87.607200,2017
12,Ohio Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-07-17,12.0,36.0,4.0,2016-07-17 14:27:00,1236.0,41.89350,"(41.8935, -87.6152)",-87.615200,2016
13,Calumet,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-08-07,20.6,47.0,9.0,2016-08-07 12:57:00,1629.0,41.71420,"(41.7142, -87.5299)",-87.529900,2016
14,57th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-05-27,63.1,78.0,51.0,2017-05-27 00:00:00,2313.0,41.79110,"(41.7911, -87.5797)",-87.579700,2017
15,North Avenue,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-08-28,65.5,66.0,65.0,2016-08-28 12:28:00,2146.0,41.91480,"(41.9148, -87.6273)",-87.627300,2016
16,Rainbow,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-08-07,136.0,215.0,86.0,2016-08-07 12:58:00,1631.0,41.75800,"(41.758, -87.551)",-87.551000,2016
17,South Shore,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-06-05,118.0,118.0,1.0,2016-06-05 00:00:00,593.0,41.76890,"(41.7689, -87.5636)",-87.563600,2016
18,Leone,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-05-28,5.5,3.0,10.0,2017-05-28 00:00:00,2352.0,42.01310,"(42.0131, -87.6635)",-87.663500,2017
19,Calumet,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-08-21,407.6,468.0,355.0,2016-08-21 12:44:00,1990.0,41.71420,"(41.7142, -87.5299)",-87.529900,2016
20,Ohio Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-08-25,29.9,39.0,23.0,2016-08-25 13:01:00,2087.0,41.89350,"(41.8935, -87.6152)",-87.615200,2016
21,Ohio Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-07-02,94.4,135.0,66.0,2016-07-02 13:05:00,1069.0,41.89350,"(41.8935, -87.6152)",-87.615200,2016
22,Rainbow,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-07-30,230.7,68.0,783.0,2016-07-30 13:01:00,1567.0,41.75800,"(41.758, -87.551)",-87.551000,2016
23,63rd Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-08-27,398.3,867.0,183.0,2016-08-27 13:02:00,2114.0,41.78270,"(41.7827, -87.5748)",-87.574800,2016
24,Ohio Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-09-04,42.0,49.0,36.0,2016-09-04 12:35:00,2269.0,41.89350,"(41.8935, -87.6152)",-87.615200,2016
25,Humboldt,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-05-27,1995.9,2602.0,1531.0,2017-05-27 00:00:00,2315.0,41.90643,"(41.90643, -87.703717)",-87.703717,2017
26,South Shore,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-07-31,84.1,73.0,97.0,2016-07-31 12:19:00,1553.0,41.76890,"(41.7689, -87.5636)",-87.563600,2016
27,63rd Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-06-19,301.3,246.0,369.0,2016-06-19 12:30:00,849.0,41.78270,"(41.7827, -87.5748)",-87.574800,2016
28,Rainbow,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-07-24,14.0,39.0,5.0,2016-07-24 12:29:00,1408.0,41.75800,"(41.758, -87.551)",-87.551000,2016
29,Ohio Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2016-07-16,32.5,34.0,31.0,2016-07-16 12:20:00,1232.0,41.89350,"(41.8935, -87.6152)",-87.615200,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15398,57th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-05,98.4,236.0,41.0,2017-06-05 12:10:00,2547.0,41.79110,"(41.7911, -87.5797)",-87.579700,2017
15399,South Shore,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-05,920.0,923.0,917.0,2017-06-05 12:10:00,2546.0,41.76890,"(41.7689, -87.5636)",-87.563600,2017
15400,Osterman,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-05,19.1,7.0,52.0,2017-06-05 00:00:00,2551.0,41.98770,"(41.9877, -87.6545)",-87.654500,2017
15401,Calumet,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-05,87.0,88.0,86.0,2017-06-05 12:10:00,2545.0,41.71420,"(41.7142, -87.5299)",-87.529900,2017
15402,Marion Mahony Griffin (Jarvis),NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-05,32.5,22.0,48.0,2017-06-05 00:00:00,2611.0,42.01610,"(42.0161, -87.6647)",-87.664700,2017
15403,Foster,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-05,282.9,302.0,265.0,2017-06-05 00:00:00,2609.0,41.97850,"(41.9785, -87.6515)",-87.651500,2017
15404,Margaret T Burroughs (31st),NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-05,105.3,137.0,81.0,2017-06-05 12:10:00,2605.0,41.83930,"(41.8393, -87.6072)",-87.607200,2017
15405,Ohio Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-05,30.8,11.0,86.0,2017-06-05 12:10:00,2606.0,41.89350,"(41.8935, -87.6152)",-87.615200,2017
15406,Oakwood,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-05,9.9,9.0,11.0,2017-06-05 12:10:00,2585.0,41.82110,"(41.8211, -87.5976)",-87.597600,2017
15407,Montrose,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-05,3223.8,5207.0,1996.0,2017-06-05 12:10:00,2608.0,41.96550,"(41.9655, -87.6385)",-87.638500,2017
15408,63rd Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-05,1073.8,1126.0,1024.0,2017-06-05 12:10:00,2566.0,41.78270,"(41.7827, -87.5748)",-87.574800,2017
15409,Hartigan (Albion),NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-05,9.4,11.0,8.0,2017-06-05 00:00:00,2610.0,42.00270,"(42.0027, -87.6564)",-87.656400,2017
15410,63rd Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,76.5,150.0,39.0,2017-06-06 12:07:00,2646.0,41.78270,"(41.7827, -87.5748)",-87.574800,2017
15411,North Avenue,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,64.0,63.0,65.0,2017-06-06 12:07:00,2630.0,41.91480,"(41.9148, -87.6273)",-87.627300,2017
15412,Osterman,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,238.6,199.0,286.0,2017-06-06 12:07:00,2651.0,41.98770,"(41.9877, -87.6545)",-87.654500,2017
15413,Montrose,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,36.7,48.0,28.0,2017-06-06 12:07:00,2650.0,41.96550,"(41.9655, -87.6385)",-87.638500,2017
15414,12th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,95.4,182.0,50.0,2017-06-06 12:07:00,2628.0,41.86380,"(41.8638, -87.6083)",-87.608300,2017
15415,Howard,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,296.7,231.0,381.0,2017-06-06 12:07:00,2652.0,42.01880,"(42.0188, -87.6663)",-87.666300,2017
15416,South Shore,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,87.2,39.0,195.0,2017-06-06 12:07:00,2626.0,41.76890,"(41.7689, -87.5636)",-87.563600,2017
15417,Calumet,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,291.8,267.0,319.0,2017-06-06 12:07:00,2625.0,41.71420,"(41.7142, -87.5299)",-87.529900,2017
15418,57th Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,122.2,131.0,114.0,2017-06-06 12:07:00,2627.0,41.79110,"(41.7911, -87.5797)",-87.579700,2017
15419,Humboldt,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,730.5,286.0,1866.0,2017-06-06 12:07:00,2649.0,41.90643,"(41.90643, -87.703717)",-87.703717,2017
15420,Ohio Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,512.7,57.0,4611.0,2017-06-06 12:07:00,2648.0,41.89350,"(41.8935, -87.6152)",-87.615200,2017
15421,Oak Street,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,4.9,2.0,12.0,2017-06-06 12:07:00,2629.0,41.90320,"(41.9032, -87.6235)",-87.623500,2017
15422,Rainbow,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,122.7,70.0,215.0,2017-06-06 12:07:00,2645.0,41.75800,"(41.758, -87.551)",-87.551000,2017
15423,Rogers,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,685.0,685.0,NaN,2017-06-06 12:07:00,2654.0,42.02130,"(42.0213, -87.6666)",-87.666600,2017
15424,Marion Mahony Griffin (Jarvis),NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,1171.0,1171.0,NaN,2017-06-06 12:07:00,2653.0,42.01610,"(42.0161, -87.6647)",-87.664700,2017
15425,Margaret T Burroughs (31st),NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,133.0,133.0,133.0,2017-06-06 12:07:00,2647.0,41.83930,"(41.8393, -87.6072)",-87.607200,2017
15426,Hartigan (Albion),NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,200.2,249.0,161.0,2017-06-06 12:07:00,2632.0,42.00270,"(42.0027, -87.6564)",-87.656400,2017
15427,Foster,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,2017-06-06,167.7,145.0,194.0,2017-06-06 12:07:00,2631.0,41.97850,"(41.9785, -87.6515)",-87.651500,2017

In [127]:
lab_results['culture_test_id'] = lab_results['culture_test_id'].apply(lambda x: str(int(x)) if str(x).lower() != 'nan' else None)
lab_results['dna_test_id'] = lab_results['dna_test_id'].apply(lambda x: str(int(x)) if str(x).lower() != 'nan' else None)

In [128]:
lab_results['beach_name'] = lab_results['beach']

In [129]:
lab_results.dtypes

beach                                 object
culture_note                         float64
culture_reading_mean                 float64
culture_sample_1_reading             float64
culture_sample_1_timestamp    datetime64[ns]
culture_sample_2_reading             float64
culture_sample_2_timestamp    datetime64[ns]
culture_sample_interval              float64
culture_test_id                       object
date                                  object
dna_reading_mean                     float64
dna_sample_1_reading                 float64
dna_sample_2_reading                 float64
dna_sample_timestamp          datetime64[ns]
dna_test_id                           object
latitude                             float64
location                              object
longitude                            float64
year                                   int64
beach_name                            object
dtype: object

In [130]:
lab_results = lab_results[['beach_name', 'date', 'culture_sample_1_timestamp', 'culture_sample_1_reading',
                          'culture_sample_2_timestamp', 'culture_sample_2_reading', 'culture_reading_mean',
                          'culture_sample_interval', 'culture_note', 'dna_sample_timestamp',
                          'dna_sample_1_reading', 'dna_sample_2_reading', 'dna_reading_mean',
                          'dna_test_id', 'latitude', 'longitude', 'year']]

In [131]:
lab_results.head()

,beach_name,date,culture_sample_1_timestamp,culture_sample_1_reading,culture_sample_2_timestamp,culture_sample_2_reading,culture_reading_mean,culture_sample_interval,culture_note,dna_sample_timestamp,dna_sample_1_reading,dna_sample_2_reading,dna_reading_mean,dna_test_id,latitude,longitude,year
0,12th Street,2016-08-20,NaT,NaN,NaT,NaN,NaN,NaN,NaN,2016-08-20 12:40:00,236.0,147.0,186.3,2009,41.8638,-87.6083,2016
1,Rainbow,2016-06-26,NaT,NaN,NaT,NaN,NaN,NaN,NaN,2016-06-26 12:38:00,86.0,5.0,20.7,983,41.7580,-87.5510,2016
2,North Avenue,2016-06-05,NaT,NaN,NaT,NaN,NaN,NaN,NaN,2016-06-05 12:45:00,63.0,114.0,84.7,610,41.9148,-87.6273,2016
3,63rd Street,2016-08-20,NaT,NaN,NaT,NaN,NaN,NaN,NaN,2016-08-20 12:39:00,21.0,41.0,29.3,1989,41.7827,-87.5748,2016
4,North Avenue,2016-06-11,NaT,NaN,NaT,NaN,NaN,NaN,NaN,2016-06-11 13:18:00,145.0,112.0,127.4,703,41.9148,-87.6273,2016

In [132]:
lab_results.to_csv('data/lab_results_cleaned_20170606.csv', index=False)

In [133]:
len(lab_results)

15428

In [134]:
lab_results_pre2017 = lab_results.loc[lab_results['year'] != 2017]
len(lab_results_pre2017)

15197

In [135]:
sorted(lab_results_pre2017['year'].unique())

[2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]

In [136]:
lab_results_pre2017.to_csv('data/lab_results_2006-2016.csv', index=False)